# Worlds
world/
world_nether/
world_the_end/

# Logs
logs/

# Ignore all jar files
*.jar

# EXCEPTION: allow the main server jar
!server.jar

# Libraries & cache
libraries/
cache/

# Crash reports
crash-reports/

# Banned players
banned-ips.json
banned-players.json